<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <%- include("partials/nav") %>

    <div class="container">
      <div class="box">
        <h1>芳鍋 Fangs-food</h1>
        <div class="header">
          <img src="<%= user.thumbnail %>" />
          <h2><%= user.name %></h2>
          <h4>FANGS-FOOD 會員</h4>
        </div>
        <div class="nav">
          <ul>
            <li><a href="/profile/gift">禮物卷</a></li>
            <li><a href="/auth/change-password">帳號管理</a></li>
            <li><a href="#">VIP</a></li>
          </ul>
        </div>
        <div class="main">
          <h4>店家VIP</h4>
          <div class="shopVIP">
            <img
              src="https://d3egcl3bvwgcig.cloudfront.net/vip/50b193037d9b16519b9e6c82bcfd9154_m.jpg"
            />
            <p>
              Fangs-food 會員 <br />
              <small>已持有</small>
            </p>
          </div>

          <h4>VIP歷史</h4>
          <div class="history">
            <p>接受了「FANGS-FOOD 會員」會員邀請</p>
            <h6><%= user.date %></h6>
          </div>

          <div class="info">
            <p>會員電子郵件: <%= user.email %></p>
            <a href="/auth/change-password">修改個人檔案</a>
            <a href="/auth/logout">登出</a>
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
